<app-welcome></app-welcome>

<app-section-divider></app-section-divider>

<app-portfolio></app-portfolio>

<app-section-divider></app-section-divider>

<app-about></app-about>

<app-section-divider></app-section-divider>

<app-gallery></app-gallery>

<app-section-divider></app-section-divider>

<app-brands-carousel></app-brands-carousel>

<app-section-divider></app-section-divider>

<app-services></app-services>

<app-section-divider></app-section-divider>

<app-cta></app-cta>

<app-scroll-to-top></app-scroll-to-top>
